

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-image: url('static/WallpaperDog-5486602.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #888;
    align-content: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  

  /*Include style for main*/
  .main {
      background-image: url('static/WallpaperDog-5486546.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      border: 3px solid gray;
      border-radius: 20px;
      padding: 10px;
      margin-top: 5px;
      width: 24em;
      margin-left: auto;
      margin-right: auto;
  }

  /* Style the first header*/
  .header-first {
    background-image: url('static/pexels-mathilde-langevin-8253246.jpg');
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
    border: 3px solid gray;
    padding: 30px 40px;
    color: white;
    margin-top: 40px;
    width: 24em;
    margin-left: auto;
    margin-right: auto;
  }

  /* Style footer */
  .footer {
    width: 24em;
    margin-left: auto;
    margin-right: auto;
  }

  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 75%;
    transition: 0.2s;
    border-radius: 5px;
    margin: 5px;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #c7c5c5;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }

  /* Style the starr button */
  .important {
    position: static;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }

  .important:hover {
      background-color: rgb(85, 60, 60);
      border-radius: 5px;
      margin: 10px;
      color: white;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.check {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.check::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .remove:hover {
    display: "Remove Item";
    background-color:rgb(63, 40, 40);
    border-radius: 5px;
    color: white;
  }
  
  /* Style the header */
  .header {
    font-weight: bold;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }

  h2 {
    color: rgb(63, 42, 42);
    text-shadow: 2px 2px;
  }

  h1 {
    font-weight: bold;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 67%;
  }
  
  /* Style the "Add Task" button */
  .addTask {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: rgb(19, 17, 17);
    float: left;
    text-align: center;
    font-size: 67%;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .addTask:hover {
    background-color: rgb(122, 88, 88);
  }

  /* Style the "About" button */
  .about {
    padding: 20px;
    background-image: url("static/WallpaperDog-5486505.jpg");
    background-position: center;
    font-size: 84%;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0 9px #999;
    border-radius: 10px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 6em;
    margin-left: auto;
    margin-right: auto;
  }
  
  .about:hover {
      color: gray;
  }

  .about:active {
    color: #999;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  img {
      border-radius: 20px;
      height: 120px;
      width: 120px;
      margin-left: auto;
      margin-right: auto;
  }

  /* Style social media icons*/
  .social-icons {
      margin-top: 5px;
      margin-bottom: 10px;
  }
  .social-icons a {
      width: 30px;
      margin: 0 10px 0 0;
      color: black;
      float: right;
  }
  #linkedin:hover {
      color:rgb(122, 88, 88)
  }
  #mail:hover {
      color:rgb(122, 88, 88)
  }
  #twitter:hover {
      color:rgb(122, 88, 88)
  }
  #github:hover {
      color:rgb(122, 88, 88)
  }

  #power {
      font-weight: bold;
      font-family: monospace;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      width: auto;
  }

  #genesys:hover {
      opacity: 0.5;
  }

